<h2>Подробнее о городе</h2>

<div>
  <p class="region"><%= @region.name %></p>
  <span>Компании в регионе</span>

  <div class="link company">
    <% @region.companies.each do |company| %>
      <p>
      <%= link_to company.name, company_path(company) %>
      </p>
  <% end %>
  </div>

  <%= link_to 'Изменить', edit_region_path(@region), class: "link item" %>
  <%= link_to 'Удалить', region_path(@region), method: 'DELETE', class: "link item" %>
</div>
