/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #0F253D;
    color: #f7f6f0 ;
    text-decoration: none;
    margin: 0px;
    padding: 0px;

}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

a{
    color: #ad7751;
    text-decoration: none;
}
a:hover {
    color: #730E15;
}

.data {
    width: 1240px;
    height: 100%;
    min-height: 887px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    background: #312b2a;
}
.info {
    padding: 10px 0 0 10px;
    min-height: 330px;
    min-width: 370px;
    max-width: 370px;
    max-height: 330px;
    background: #20100E;
    margin: 10px;
    border: 3px solid #0F253D;
    text-align: center;
}

/*перенос элемента*/
.br{
    flex-grow: 3;
}



