// Place all the styles related to the company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.print{
  margin: 10px 0 10px 0;
}

#item {
  background: #403C39;
  border-color: #B00100;
}

.inline {
  display: flex;
  justify-content: space-between;
  flax-wrap: wrap;
  padding: 10px 5px 5px 5px;
  margin-left: -10px;
}

.new .select {
  flex-: 250px;
}