.menu {
  background: #8d847e;
  height: 20px;
  text-align: right;
  margin: auto;
  padding: auto;

  a {
    display: inline-block;
    width: 90px;
    height: 20px;
    color: #f7f6f0;
    background: #8d847e;
    text-align: center;
    text-decoration: none;
  }

  a:hover {
    color: #B00100;
    background: #0F253D;
  }
}