// Place all the styles related to the Talk controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.talk .text_field{
  width: 335px;
  height: 70px;
}
.talk .select{
  width: 335px;
}
